<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:500&display=swap" rel="stylesheet">
  </head>
  <body>
    
      <nav class="navbar navbar-expand-lg">
        <a class="brand">
          <img src="https://img.icons8.com/bubbles/100/000000/spotify.png">
        </a>
      </nav>
      
      <div class="info">
        <div class="intro">
          <h2>spotGen</h2>
          <h5>Create a spotify playlist with an artist's top 10 tracks! Add as many artists as you want!</h5>
        </div>
        <div class="main">
            <div class="form">
              <form action="/" method="POST">
                <input class="input" name="playlist" type="text" placeholder="Playlist Name" required>
                <input class="input" name="name" type="text" placeholder="Favorite Artist" required>
                <button class="formBtn">Create Playlist!</button>
              </form>
            </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>