.intro {
  width: 90%;
  margin: 9vh auto 5vh auto;
  text-align: center;
}

.intro h2 {
    border-bottom: 4px #5fbd91 solid;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5px;
    margin-bottom: 3vh;
    font-weight: 800;
    letter-spacing: 1px;
}

.intro h5 {
  font-weight: 600;
  letter-spacing: 1px;
}

.main {
    top: 25%;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.navbar {
  background-color: #e7eaec;
  padding: 0 !important;
}

.brand {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.brand > img {
  height: 50px;
}

.form {
  background-color: black;
  padding: 30px 20px;
  color: white;
  text-align: center;
  border-radius: 15px;
}

.form:after {
  content: "";
  display: table;
  clear: both;
}

.input {
  margin-bottom: 5%;
}

input {
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.formBtn {
  padding: 10px;
  background: #d9d9d9;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 6px;
  font-family: 'Oswald', sans-serif;
}

.formBtn:hover {
  background-color: #bbb;
}

.formBtn:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  .info {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .main {
    width: 80%;
  }
  
  .intro h2 {
    width: 40%;
  }
} 

@media only screen and (min-width: 1024px) {
  .brand > img {
    height: 75px;
  }
  
  .info {
    position: relative;
    top: 50%;
    transform: translateY(5%);
  }
  
  .intro h2 {
    font-size: 3rem;
  }
  
  .intro h5 {
    font-size: 1.8rem;
  }
  
  .main {
    width: 70%;
  }
  
  .formBtn {
    font-size: 22px;
    padding: 12px;
  }
  
  .input {
    height: 8vh;
    font-size: 1.4rem;
  }
} 

@media only screen and (min-width: 1400px) {
  .brand > img {
    height: 100px;
  }
  
  .intro h2 {
    font-size: 4rem;
  }
  
  .intro h5 {
    font-size: 2.3rem;
  }
  
  .input {
    font-size: 2rem;
  }
  
  .formBtn {
    font-size: 30px;
    padding: 16px;
  }
}

